*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #00012e;
}


.menu{
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li{
    position: absolute;
    left: 0;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.12s * var(--i));
    transform-origin: 140px;
    transform: rotate(0deg) translateX(110px);
}

.menu.active li{
    transform: rotate(calc(360deg / 8 * var(--i))) translateX(0px);
}

.menu li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color: var(--clr);
    border: 2px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / -8 * var(--i))) translateX(0px);
    transition: 0.5s;
}

.menu li a:hover{
    transition: 0s;
    background: var(--clr);
    color: #333;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}

.menu .toggle{
    position: absolute;
    width: 70px;
    height: 70px;
    background: #0f0e39;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 100;
    font-size: 1.7em;
    transition: transform 1.25s;
}

.menu.active .toggle{
    transform: rotate(275deg);
}